/**********
#COLORS
**********/

$bowie-color: rgb(240, 120, 122);
$prince-color: rgb(133, 101, 210);



/**********
#TYPOGRAPHY
**********/

$main-font: 'Domine', serif;
$secondary-font: 'Montserrat', sans-serif;