/**********
#COLORS
**********/

$bowie-color: rgb(240, 120, 122);
$bowie-light: rgba(240, 120, 122, .4);     
$prince-color: rgb(133, 101, 210);
$prince-light: rgba(133, 101, 210, .4);



/**********
#TYPOGRAPHY
**********/

$main-font: 'Domine', serif;
$secondary-font: 'Montserrat', sans-serif;