/**********
#GLOBAL
**********/

@import 'variables';
@import 'gradients';

/* Flexible viewport fix for IE10 */
@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

* { box-sizing: border-box; }

body {
    font-family: $main-font;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}

img { 
    max-width: 100%; 
    display: block;
}

a {
    font-weight: 700;
    opacity: 1;
    text-decoration: none;
    color: $prince-color;
        &:hover {
            color: $bowie-color;
        }
}

ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
}



/**********
#TRUMPS
**********/

.text-center { text-align: center; }
.text-uppercase { text-transform: uppercase; }
.center-uppercase {
    text-align: center;
    text-transform: uppercase;
}



/**********
#HEADER
**********/

.main-heading {
    h1 {
        font-size: 2.5em;
        font-weight: 700;
        margin: 0;
            &:first-child {
                margin-top: 1.5rem;
            }
    }
    .header-symbol {
        font-size: 6rem;
        display: block;
        line-height: .4;
        opacity: .5;
    }
}

header {
    h2 {
        font-family: $secondary-font;
        opacity: .5;
        margin: 1.7rem 0 2.2rem 0;
    }
}



/**********
#NAVIGATION
**********/

nav {
    margin: 3rem 0 3rem 0;  
        ul {
        width: 294.078px;
        margin: 0 auto;
            & li {
                display: inline-block;
                width: 65px;
                margin: 0 2.5em 0 2.5em;
            }
    }
}



/**********
#MAIN
**********/

.about-header {
    font-family: $secondary-font;
    margin: 0;
    padding: 1em;
}

.container {
    margin: 2em 1em 0 1em;
        h3 {
            font-family: $secondary-font;
            font-weight: 700;
        }
        .timeline {
            h4 {
                font-family: $secondary-font;
                font-size: 1.2em;
                @extend .text-uppercase;
                margin-bottom: 0; 
                opacity: .5;
            }
            p {
                margin-top: .4em; 
                margin-bottom: 2em;
                line-height: 2;
            }
        }

        .quote {
            padding-left: 1em;
            margin-bottom: 2em;
                .author {
                    font-family: $secondary-font;
                    font-weight: 700;
                    opacity: .5;
                    @extend .text-uppercase; 
                }
            p:first-child {
                line-height: 2; 
            }
        }
}


#about-bowie .quote { border-left: 5px solid $bowie-light; }
#about-prince .quote { border-left: 5px solid $prince-light; }

.more-info p { line-height: 2; } 


/**********
#FOOTER
**********/

footer {
    margin-top: 4em;
        p {
            padding: 1em 0 1em 0;
            opacity: .7;
        }
}



/* 
.container,
section,
#about-bowie,
#about-prince {
    display: none; 
}
*/