/**********
#GLOBAL
**********/
/**********
#COLORS
**********/
/**********
#TYPOGRAPHY
**********/
/**********
#DIVIDERS
**********/
.bowie-divider {
  height: 1px;
  background: #f0787a;
  background: -moz-linear-gradient(left, #f0787a 57%, rgba(240, 120, 122, 0.35) 85%, rgba(240, 120, 122, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(57%, #f0787a), color-stop(85%, rgba(240, 120, 122, 0.35)), color-stop(100%, rgba(240, 120, 122, 0)));
  background: -webkit-linear-gradient(left, #f0787a 57%, rgba(240, 120, 122, 0.35) 85%, rgba(240, 120, 122, 0) 100%);
  background: -o-linear-gradient(left, #f0787a 57%, rgba(240, 120, 122, 0.35) 85%, rgba(240, 120, 122, 0) 100%);
  background: -ms-linear-gradient(left, #f0787a 57%, rgba(240, 120, 122, 0.35) 85%, rgba(240, 120, 122, 0) 100%);
  background: linear-gradient(to right, #f0787a 57%, rgba(240, 120, 122, 0.35) 85%, rgba(240, 120, 122, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0787a', endColorstr='#f0787a', GradientType=1 ); }

.prince-divider {
  height: 1px;
  background: rgba(134, 101, 210, 0);
  background: -moz-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.35) 15%, #8665d2 43%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134, 101, 210, 0)), color-stop(15%, rgba(134, 101, 210, 0.35)), color-stop(43%, #8665d2));
  background: -webkit-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.35) 15%, #8665d2 43%);
  background: -o-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.35) 15%, #8665d2 43%);
  background: -ms-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.35) 15%, #8665d2 43%);
  background: linear-gradient(to right, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.35) 15%, #8665d2 43%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8665d2', endColorstr='#8665d2', GradientType=1 ); }

.divider {
  height: 1px;
  background: rgba(240, 120, 122, 0);
  background: -moz-linear-gradient(left, rgba(240, 120, 122, 0) 0%, rgba(240, 120, 122, 0.19) 20%, #f0787a 52%, rgba(240, 120, 122, 0.2) 81%, rgba(240, 120, 122, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 120, 122, 0)), color-stop(20%, rgba(240, 120, 122, 0.19)), color-stop(52%, #f0787a), color-stop(81%, rgba(240, 120, 122, 0.2)), color-stop(100%, rgba(240, 120, 122, 0)));
  background: -webkit-linear-gradient(left, rgba(240, 120, 122, 0) 0%, rgba(240, 120, 122, 0.19) 20%, #f0787a 52%, rgba(240, 120, 122, 0.2) 81%, rgba(240, 120, 122, 0) 100%);
  background: -o-linear-gradient(left, rgba(240, 120, 122, 0) 0%, rgba(240, 120, 122, 0.19) 20%, #f0787a 52%, rgba(240, 120, 122, 0.2) 81%, rgba(240, 120, 122, 0) 100%);
  background: -ms-linear-gradient(left, rgba(240, 120, 122, 0) 0%, rgba(240, 120, 122, 0.19) 20%, #f0787a 52%, rgba(240, 120, 122, 0.2) 81%, rgba(240, 120, 122, 0) 100%);
  background: linear-gradient(to right, rgba(240, 120, 122, 0) 0%, rgba(240, 120, 122, 0.19) 20%, #f0787a 52%, rgba(240, 120, 122, 0.2) 81%, rgba(240, 120, 122, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0787a', endColorstr='#f0787a', GradientType=1 ); }

/**********
#BACKGROUNDS
**********/
.heading-bg {
  background: rgba(134, 101, 210, 0);
  background: -moz-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.19) 20%, rgba(133, 101, 210, 0.5) 52%, rgba(133, 101, 210, 0.2) 81%, rgba(133, 101, 210, 0) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(134, 101, 210, 0)), color-stop(20%, rgba(134, 101, 210, 0.19)), color-stop(52%, rgba(133, 101, 210, 0.5)), color-stop(81%, rgba(133, 101, 210, 0.2)), color-stop(100%, rgba(133, 101, 210, 0)));
  background: -webkit-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.19) 20%, rgba(133, 101, 210, 0.5) 52%, rgba(133, 101, 210, 0.2) 81%, rgba(133, 101, 210, 0) 100%);
  background: -o-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.19) 20%, rgba(133, 101, 210, 0.5) 52%, rgba(133, 101, 210, 0.2) 81%, rgba(133, 101, 210, 0) 100%);
  background: -ms-linear-gradient(left, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.19) 20%, rgba(133, 101, 210, 0.5) 52%, rgba(133, 101, 210, 0.2) 81%, rgba(133, 101, 210, 0) 100%);
  background: linear-gradient(to right, rgba(134, 101, 210, 0) 0%, rgba(134, 101, 210, 0.19) 20%, rgba(133, 101, 210, 0.5) 52%, rgba(133, 101, 210, 0.2) 81%, rgba(133, 101, 210, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8665d2', endColorstr='#8565d2', GradientType=1 ); }

/* Flexible viewport fix for IE10 */
@viewport {
  zoom: 1.0;
  width: extend-to-zoom; }
@-ms-viewport {
  width: extend-to-zoom;
  zoom: 1.0; }
* {
  box-sizing: border-box; }

body {
  font-family: "Domine", serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background-color: #000; }

img {
  max-width: 100%;
  display: block; }

a {
  font-weight: 700;
  opacity: 1;
  text-decoration: none;
  color: #8565d2; }
  a:hover {
    color: #f0787a; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/**********
#TRUMPS
**********/
.text-center {
  text-align: center; }

.text-uppercase, .about .timeline h4, .about .quote .author {
  text-transform: uppercase; }

.center-uppercase {
  text-align: center;
  text-transform: uppercase; }

/**********
#HEADER
**********/
.main-heading h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0; }
  .main-heading h1:first-child {
    margin-top: 1.5rem; }
.main-heading .header-symbol {
  font-size: 6rem;
  display: block;
  line-height: .4;
  opacity: .5; }

header h2 {
  font-family: "Montserrat", sans-serif;
  opacity: .5;
  margin: 1.7rem 0 2.2rem 0; }

/**********
#NAVIGATION
**********/
nav {
  margin: 3rem 0 3rem 0; }
  nav ul {
    width: 294.078px;
    margin: 0 auto; }
    nav ul li {
      display: inline-block;
      width: 65px;
      margin: 0 2.5em 0 2.5em; }
  nav img {
    padding-top: 1em;
    border-top: 4px solid #000; }
    nav img:hover {
      cursor: pointer; }

/**********
#MAIN
**********/
.about-header {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 1em; }

.about {
  margin: 2em 1em 0 1em; }
  .about h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700; }
  .about .timeline h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
    margin-bottom: 0;
    opacity: .5; }
  .about .timeline p {
    margin-top: .4em;
    margin-bottom: 2em;
    line-height: 2; }
  .about .quote {
    padding-left: 1em;
    margin-bottom: 2em; }
    .about .quote .author {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      opacity: .5; }
    .about .quote p:first-child {
      line-height: 2; }

#about-bowie .quote {
  border-left: 5px solid rgba(240, 120, 122, 0.4); }

#about-prince .quote {
  border-left: 5px solid rgba(133, 101, 210, 0.4); }

.more-info p {
  line-height: 2; }

/**********
#FOOTER
**********/
footer {
  margin-top: 4em; }
  footer p {
    padding: 1em 0 1em 0;
    opacity: .7; }

/**********
#RESPONSIVE
**********/
/**********
#MEDIA-QUERIES
**********/
@media only screen and (min-width: 648px) {
  .about {
    max-width: 645px;
    margin: 0 auto; } }
@media only screen and (min-width: 1217px) {
  body {
    background-color: rgba(0, 0, 0, 0.5); }

  .container {
    background-color: #000;
    width: 1200px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-bottom: .3em; }
    .container .hero {
      padding-top: 1.5em; }
    .container header h1,
    .container header h2 {
      letter-spacing: .1em; }
    .container header h2 {
      font-size: 2em; } }

/*# sourceMappingURL=style.css.map */
